<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" routerLink="home">home</button>
    <button mat-raised-button color="primary" routerLink="home#menu">
      menu
    </button>
    <button mat-raised-button color="primary" routerLink="order/show">
      cart
    </button>
    <!-- <button mat-raised-button color="primary">
      Selected Items: {{ this.numOfItems }}
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
